@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';

@layer base {

  /* #region  /**=========== Default Typography =========== */
  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .body {
    @apply text-sm md:text-base;
  }

  p, h1, h2, h3, h4, h5, label, span, a {
    /*@apply text-primary-black;*/
    /*color: rgba(0, 0, 0, .8);*/
    /*font-family: Eina, serif;*/
  }
  /* #endregion  /**======== Default Typography =========== */

  .btn-icon {
    @apply text-[#73726e] text-base hover:bg-[#dedddb] rounded-sm w-[20px] h-[20px];
  }

  .btn-icon-header {
    @apply cursor-pointer inline-flex justify-center items-center text-[#73726e] text-base hover:bg-[#efefef] rounded-[3px] w-[32px] h-[28px];
  }

  .codex-editor {
    z-index: 0 !important;
  }
}

/* reset */
button,
p {
  all: unset;
}



.initial-loading-spinner {
  animation: rotate 1s linear infinite;
  transform-origin: center center;
  transform-box: fill-box;
  opacity: .5;
}

@keyframes rotate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
